.container{
    display:flex;
    justify-content: center;
    gap: 10px;

    justify-content: center;
    align-items: center;
    text-align:center;
}

.item {
    font-size: 20px;
    padding: 4px 10px;
    text-decoration: none;
    color: #333;
    background-color: #ddd;
    border-radius: 5px;
    transition: 0.3s;
}